.container {
  width: 800px;
  margin: 300px auto 0 auto;
}

.comments {
  margin-bottom: 50px;

  .mat-card {
    box-shadow: #ccc 4px 4px 4px 4px;
  }

  ul {
    list-style-type: none;
  }
}

.comments-input {
  .mat-form-field {
    width: 100%;
  }
}
