<section class="comments">
  <h1>Comments</h1>
  <ul>
    <li *ngFor="let comment of comments">
      {{comment}}
    </li>
  </ul>
</section>

<section class="comment-input">

  <label for="comment"
         class="demo__label">
    Comment
  </label>
  <input
    [formControl]="commentCtrl"
    #commentElement
    (keyup.enter)="onEnter()"
    autofocus
    autocomplete="off"
    id="comment">
  <oreon-autocomplete [users]="users$ | async"
                      [comment]="comment"
                      [commentElement]="commentElement">
  </oreon-autocomplete>
</section>
