<div class="container">
  <section class="comments">
    <mat-card>
      <mat-card-title>Comments</mat-card-title>
      <mat-card-content>
        <ul>
          <li *ngFor="let comment of comments">
            {{comment}}
          </li>
        </ul>
      </mat-card-content>
    </mat-card>
  </section>

  <section class="comments-input">
    <mat-form-field>
    <input
      matInput
      placeholder="Comment (ENTER to add)"
      [formControl]="commentCtrl"
      #commentElement
      (keyup.enter)="onEnter()"
      autofocus
      autocomplete="off">
    </mat-form-field>
    <oreon-autocomplete [users]="users$ | async"
                        [inputValue]="comment"
                        [inputElement]="commentElement">
    </oreon-autocomplete>
  </section>
</div>
